<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_player_frame_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1169,344},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melee_bet_count_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,21}</string>
                <key>spriteSourceSize</key>
                <string>{77,21}</string>
                <key>textureRect</key>
                <string>{{977,344},{77,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melee_btn_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,87}</string>
                <key>spriteSourceSize</key>
                <string>{312,87}</string>
                <key>textureRect</key>
                <string>{{683,369},{312,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melee_camp_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,176}</string>
                <key>spriteSourceSize</key>
                <string>{419,176}</string>
                <key>textureRect</key>
                <string>{{603,1},{419,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melee_pd_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,372}</string>
                <key>spriteSourceSize</key>
                <string>{600,372}</string>
                <key>textureRect</key>
                <string>{{1,1},{600,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melee_pd_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,74}</string>
                <key>spriteSourceSize</key>
                <string>{336,74}</string>
                <key>textureRect</key>
                <string>{{1,375},{336,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melee_pd_btn_cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,82}</string>
                <key>spriteSourceSize</key>
                <string>{170,82}</string>
                <key>textureRect</key>
                <string>{{339,375},{170,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melee_pd_btn_confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,82}</string>
                <key>spriteSourceSize</key>
                <string>{170,82}</string>
                <key>textureRect</key>
                <string>{{511,375},{170,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melee_pd_btn_flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,82}</string>
                <key>spriteSourceSize</key>
                <string>{170,82}</string>
                <key>textureRect</key>
                <string>{{997,367},{170,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melee_pd_default_avator.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1324,215},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melee_pd_frame_avator.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,187}</string>
                <key>spriteSourceSize</key>
                <string>{185,187}</string>
                <key>textureRect</key>
                <string>{{790,179},{185,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melee_pd_frame_avator_male.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,188}</string>
                <key>spriteSourceSize</key>
                <string>{185,188}</string>
                <key>textureRect</key>
                <string>{{603,179},{185,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melee_pd_gift_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,137}</string>
                <key>spriteSourceSize</key>
                <string>{168,137}</string>
                <key>textureRect</key>
                <string>{{1185,168},{168,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>melee_sprite_alliance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,165}</string>
                <key>spriteSourceSize</key>
                <string>{180,165}</string>
                <key>textureRect</key>
                <string>{{1024,1},{180,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melee_sprite_camp_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,212}</string>
                <key>spriteSourceSize</key>
                <string>{212,212}</string>
                <key>textureRect</key>
                <string>{{1324,1},{212,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melee_sprite_empire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,163}</string>
                <key>spriteSourceSize</key>
                <string>{206,163}</string>
                <key>textureRect</key>
                <string>{{977,179},{206,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_detail.png</string>
            <key>size</key>
            <string>{1537,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5fc7ff2c5eaa3f5b98705e6aa356745:d9e18d643d162ae1d66098c0108d9343:f033663dabe2b95fb25b42c079335fbc$</string>
            <key>textureFileName</key>
            <string>player_detail.png</string>
        </dict>
    </dict>
</plist>
